
@{
    ViewData["Title"]="Movie List";
}
@model List<ApplicationResponse>
<table class="table table-bordered">
    <thead class="font-weight-bold table-striped">
        <tr>
            <td> Title</td>
            <td> Genre</td>
            <td> Year</td>
            <td> Director</td>
            <td> Rating</td>
            <td> Edited</td>
            <td> Lent to</td>
            <td> Notes</td>

        </tr>
    </thead>

    <tbody>
        <tr>
            @foreach (var x in Model)
            {
        <tr>


            <td>@x.Title</td>
            <td>@x.MovieCategory.CategoryName</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.Note</td>

            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a></td>


        </tr>
            }
        </tr>
    </tbody>
</table>
